$white: #FEFEFE;
$green: #7EB101;
$fresh-green: #BBF330;
$yellow: #FFE550;
$dark: #2C2C2C;
$radial-gr: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
$border-radius: 262px;
$main-text:#2C2C2C;