$white: #FEFEFE;
$green: #7EB101;
$fresh-green: #BBF330;
$yellow: #FFE550;
$dark: #2C2C2C;
$black: #000000;
$btn:#FF705D;
$placeholder:#C4C4C4;
$radial-gr: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);
$border-radius: 262px;
$main-text:#2C2C2C;
$trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$ellipse-color: rgba(255, 255, 255, 1);
$ellipse-border: rgba(255, 255, 255, 0.5);
$backdrop:rgba(94, 99, 99, 0.7);
$shadow:0px 4px 4px rgba(0, 0, 0, 0.06);
$shadow1: 0px 2px 4px rgba(0, 0, 0, 0.15);
$border:rgba(18, 18, 18, 0.12);


