<section class="feedback">
  <div class="container">
    <div class="feedback-wrapper">
      <h2 class="feedback-title">What our Customers Say</h2>
      <p class="feedback-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
      <div>
        <ul class="feedback-list list">
          <li class="feedback-item">
            <div class="feedback-item-wrapper">
              <ul class="feedback-item-stars list">
                <li>
                  <svg class="feedback-stars">
                    <use href="/src/images/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="feedback-stars">
                    <use href="/src/images/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="feedback-stars">
                    <use href="/src/images/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="feedback-stars">
                    <use href="/src/images/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="feedback-stars">
                    <use href="/src/images/icons.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="feedback-item-content">
                &ldquo;The Best app I have used to order food in a while, so
                many options to choose from too, I would recommend to a freind,
                No questions asked&rdquo;
              </p>
              <div class="feedback-customer">
                <img
                  src="/src/images/customers-feedback/man.png"
                  alt="customer man"
                  class="feedback-customer-avatar"
                />
                <div class="feedback-customer-data">
                  <p class="feedback-customer-name">Sumith Shah</p>
                  <p class="feedback-customer-text">Some Dude</p>
                </div>
              </div>
            </div>
          </li>
          <li class="feedback-item">
            <div class="feedback-item-wrapper">
              <ul class="feedback-item-stars list">
                <li>
                  <svg class="feedback-stars">
                    <use href="/src/images/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="feedback-stars">
                    <use href="/src/images/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="feedback-stars">
                    <use href="/src/images/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="feedback-stars">
                    <use href="/src/images/icons.svg#icon-star"></use>
                  </svg>
                </li>
                <li>
                  <svg class="feedback-stars">
                    <use href="/src/images/icons.svg#icon-star"></use>
                  </svg>
                </li>
              </ul>
              <p class="feedback-item-content">
                &ldquo;The ease with which I can just go in and order what i
                want was amazing, It has been a very pleasant experience
                ordering from this app&rdquo;
              </p>
              <div class="feedback-customer">
                <img
                  src="/src/images/customers-feedback/woman.png"
                  alt="customer woman"
                  class="feedback-customer-avatar"
                />
                <div class="feedback-customer-data">
                  <p class="feedback-customer-name">Sumith Shah</p>
                  <p class="feedback-customer-text">Some Dude</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
