<section class="favorites">
    <div class="container">
        <h2 class="favorites-subtitle">Some of Our Favorites</h2>
        <p class="favorites-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="favorites-list list">
            <li class="favorites-item">
                <a href="#" class="favorites-link">
                    <picture class="favorites-picture"> 
                        <source srcset="./images/favorites/gamburger-desk-1x.png 1x, ./images/favorites/gamburger-desk-2x.png 2x" media="(min-width: 1280px)">
                        <source srcset="./images/favorites/gamburger-tablet-1x.png 1x, ./images/favorites/gamburger-tablet-2x.png 2x" media="(min-width: 768px)">
                        <source srcset="./images/favorites/gamburger-mobile-1x.png 1x, ./images/favorites/gamburger-mobile-2x.png 2x" media="(max-width: 767px)">
                     <img class="favorites-img" src="./images/favorites/gamburger-desk-1x.png" alt="meals" width="315" height="315">    
                    </picture> 
                </a>
            </li>
            <li class="favorites-item">
                <a href="#" class="favorites-link">
                    <picture class="favorites-picture">
                        <source srcset="./images/favorites/Pasta-desk-1x.png 1x, ./images/favorites/gamburger-desk-2x.png 2x" media="(min-width: 1280px)">
                        <source srcset="./images/favorites/Pasta-tablet-1x.png 1x, ./images/favorites/gamburger-tablet-2x.png 2x" media="(min-width: 768px)">
                        <source srcset="./images/favorites/Pasta-mobile-1x.png 1x, ./images/favorites/gamburger-mobile-2x.png 2x" media="(max-width: 767px)">
                     <img class="favorites-img" src="./images/favorites/Pasta-desk-1x.png" alt="meals" width="315" height="315">    
                    </picture> 
                </a>
            </li>
            <li class="favorites-item">
                <a href="#" class="favorites-link">
                    <picture class="favorites-picture">
                        <source srcset="./images/favorites/pizza-desk-1x.png 1x, ./images/favorites/gamburger-desk-2x.png 2x" media="(min-width: 1280px)">
                        <source srcset="./images/favorites/pizza-tablet-1x.png 1x, ./images/favorites/gamburger-tablet-2x.png 2x" media="(min-width: 768px)">
                        <source srcset="./images/favorites/pizza-mobile-1x.png 1x, ./images/favorites/gamburger-mobile-2x.png 2x" media="(max-width: 767px)">
                     <img class="favorites-img" src="./images/favorites/pizza-desk-1x.png" alt="meals" width="315" height="315">    
                    </picture> 
                </a>
            </li>
            <li class="favorites-item">
                <a href="#" class="favorites-link">
                    <picture class="favorites-picture">
                        <source srcset="./images/favorites/chicken-desk-1x.png 1x, ./images/favorites/gamburger-desk-2x.png 2x" media="(min-width: 1280px)">
                        <source srcset="./images/favorites/chicken-tablet-1x.png 1x, ./images/favorites/gamburger-tablet-2x.png 2x" media="(min-width: 768px)">
                        <img class="favorites-img" src="./images/favorites/chicken-desk-1x.png" alt="meals" width="315" height="315">    
                    </picture> 
                </a>
            </li>
            <li class="favorites-item">
                <a href="#" class="favorites-link">
                    <picture class="favorites-picture">
                        <source srcset="./images/favorites/salat-desk-1x.png 1x, ./images/favorites/gamburger-desk-2x.png 2x" media="(min-width: 1280px)">
                        <source srcset="./images/favorites/salat-tablet-1x.png 1x, ./images/favorites/gamburger-tablet-2x.png 2x" media="(min-width: 768px)">
                        <img class="favorites-img" src="./images/favorites/salat-desk-1x.png" alt="meals" width="315" height="315">    
                    </picture> 
                </a>
            </li>
            <li class="favorites-item">
                <a href="#" class="favorites-link">
                    <picture class="favorites-picture">
                        <source srcset="./images/favorites/borshch-desk-1x.png 1x, ./images/favorites/gamburger-desk-2x.png 2x" media="(min-width: 1280px)">
                        <source srcset="./images/favorites/borshch-tablet-1x.png 1x, ./images/favorites/gamburger-tablet-2x.png 2x" media="(min-width: 768px)">
                        <img class="favorites-img" src="./images/favorites/borshch-desk-1x.png" alt="meals" width="315" height="315">    
                    </picture> 
                </a>
            </li>
        </ul>
    </div>
    
    
</section>