<footer class="footer" id="contact">
  <div class="container">
    <div class="footer-container">
      <div class="footer-top">
        <address class="footer-address">
          <a href="#" class="footer-logo">
            <img
              src="./images/foodsta-logo/foodsta-logo.png"
              alt="foodsta-logo"
              width="66"
              height="52"
            />
          </a>
          <ul class="address-list list">
            <li class="address-item">
              <a class="address-link" href="./index.html">Home</a>
            </li>
            <li class="address-item">
              <a class="address-link" href="#about">About</a>
            </li>
            <li class="address-item">
              <a class="address-link" href="#service">Service</a>
            </li>
            <li class="address-item">
              <a class="address-link" href="#menu">Menu</a>
            </li>
            <li class="address-item">
              <a class="address-link" href="#contact">Contact</a>
            </li>
          </ul>
        </address>
        <div class="mailing">
          <p class="mailing-title">Subscribe</p>
          <form class="email">
            <div class="input-box">
              <input
                type="email"
                id="email-input"
                class="email-input"
                name="user-email"
                placeholder="Enter your email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
              />
              <div class="email-error">
                <svg class="error-icon" width="12" height="12">
                  <use href="./images/icons.svg#icon-invalid"></use>
                </svg>
                <p class="error-text">
                  Not a valid email address (example@email.com)
                </p>
              </div>
            </div>
            <button
              type="submit"
              class="email-submit button-subscribe--bordered"
            >
              Subscribe
            </button>
          </form>
          <p class="email-text">
            By subscribing you agree to with our
            <a href="#" class="email-link">Privacy Policy</a>
          </p>
        </div>
      </div>
      <div class="footer-bottom">
        <ul class="privacy-list list">
          <li class="privacy-item">
            <a href="#" class="privacy-link">Privacy Policy</a>
          </li>
          <li class="privacy-item">
            <a href="#" class="privacy-link">Terms of Service</a>
          </li>
          <li class="privacy-item">
            <a href="#" class="privacy-link">Cookies Settings</a>
          </li>
        </ul>
        <p class="privacy-text">&#169; 2022 FoodSta. All right reserved.</p>
      </div>
    </div>
  </div>
</footer>
