<footer>
  <div class="container">
    <div class="footer-top">
      <address class="address">
        <a href="#" class="logo">
          <svg class="icon" width="24" height="24">
            <use href="#"></use>
          </svg>
        </a>
        <ul class="list">
          <li class="item">
            <a class="link" href="#">Home</a>
          </li>
          <li class="item">
            <a class="link" href="#">About</a>
          </li>
          <li class="item">
            <a class="link" href="#">Service</a>
          </li>
          <li class="item">
            <a class="link" href="#">Menu</a>
          </li>
          <li class="item">
            <a class="link" href="#">Contact</a>
          </li>
        </ul>
      </address>
      <div class="mailing">
        <p class="mailing__title">Subscribe</p>
        <form class="email">
          <input
            type="email"
            id="email-input"
            class="email__input"
            name="user-email"
            placeholder="Enter your email"
          />
          <button type="submit" class="email__submit">
            Subscribe
            <svg class="email__icon" width="103" height="42">
              <use href="#"></use>
            </svg>
          </button>
          <p class="check-text">By subscribing you agree to with our</p>
          <a href="#" class="link">Privacy Policy</a>
        </form>
      </div>
    </div>
    <div class="footer-bottom">
      <ul class="list">
        <li class="item"><a href="#" class="link">Privacy Policy</a></li>
        <li class="item"><a href="#" class="link">Terms of Service</a></li>
        <li class="item"><a href="#" class="link">Cookies Settings</a></li>
      </ul>
      <p class="text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>