<footer>
  <div class="footer-container container">
    <div class="footer-top">
      <address class="address">
        <a href="#" class="logo">
          <svg class="logo-icon" width="66" height="52">
            <use href="#"></use>
          </svg>
        </a>
        <ul class="address-list list">
          <li class="address-item">
            <a class="address-link" href="#">Home</a>
          </li>
          <li class="address-item">
            <a class="address-link" href="#">About</a>
          </li>
          <li class="address-item">
            <a class="address-link" href="#">Service</a>
          </li>
          <li class="address-item">
            <a class="address-link" href="#">Menu</a>
          </li>
          <li class="address-item">
            <a class="address-link" href="#">Contact</a>
          </li>
        </ul>
      </address>
      <div class="mailing">
        <p class="mailing-title">Subscribe</p>
        <form class="email">
          <input type="email" id="email-input" class="email__input" name="user-email" placeholder="Enter your email" />
          <button type="submit" class="email-submit">
            Subscribe
            <svg class="email-icon" width="103" height="42">
              <use href="#"></use>
            </svg>
          </button>
          <p class="email-text">By subscribing you agree to with our</p>
          <a href="#" class="email-link">Privacy Policy</a>
        </form>
      </div>
    </div>
    <div class="footer-bottom">
      <ul class="privacy-list list">
        <li class="privacy-item"><a href="#" class="privacy-link">Privacy Policy</a></li>
        <li class="privacy-item"><a href="#" class="privacy-link">Terms of Service</a></li>
        <li class="privacy-item"><a href="#" class="privacy-link">Cookies Settings</a></li>
      </ul>
      <p class="privacy-text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>