<header class="header ">
    <div class=" header-box container ">
        <a href="#" class="header-logo">
            <img src="./images/foodsta-logo/foodsta-logo.png" alt="foodsta-logo" width="66" height="52">
        </a>

        <button type="button" class="header-open">
            <svg class="menu-open" width="23.33" height="16.41">
                <use href="./images/icons.svg#icon-open"></use>
            </svg>
        </button>

        <!-- MOBILE--MENU-->
        <ul class="mob list">
            <li class="mob-item"><a href="#" class="mob-link">Home</a></li>
            <li class="mob-item"><a href="#About" class="mob-link">About</a></li>
            <li class="mob-item"><a href="#Service" class="mob-link">Service</a></li>
            <li class="mob-item"><a href="#Menu" class="mob-link">Menu</a></li>
            <li class="mob-item"><a href="#Contact" class="mob-link">Contact</a></li>
        </ul>
        <!-- TABLET=================== DESKTOP-->
        <nav>
            <ul class="nav list">
                <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#About" class="nav-link">About</a></li>
                <li class="nav-item"><a href="#Service" class="nav-link">Service</a></li>
                <li class="nav-item"><a href="#Menu" class="nav-link">Menu</a></li>
                <li class="nav-item"><a href="#Contact" class="nav-link">Contact</a></li>
            </ul>
        </nav>
        <button type="button" class="header-button button--small">Order Now</button>
    </div>


</header>