<header class="header ">
    <div class=" header-box container ">
        <a href="#" class="header-logo">
            <img src="./images/foodsta-logo/foodsta-logo.png" alt="foodsta-logo" width="66" height="52">
        </a>

        <div class="mob-wrap">
            <button type="button" class="mob-open" data-menu-open>
                <svg class="icon-open" width="23.33" height="16.41">
                    <use href="./images/icons.svg#icon-open"></use>
                </svg>
            </button>

            <!-- MOBILE--MENU-->
            <div class="mob-menu is-hidden" data-menu>
                <button type="button" class="mob-close" data-menu-close>
                    <svg class="icon-close" width="10.76" height="10.76">
                        <use href="./images/icons.svg#icon-close"></use>
                    </svg>
                </button>
                <ul class="mob list">
                    <li class="mob-item"><a href="./index.html" class="mob-link">Home</a></li>
                    <li class="mob-item"><a href="#about" class="mob-link" data-menu-close>About</a></li>
                    <li class="mob-item"><a href="#service" class="mob-link" data-menu-close>Service</a></li>
                    <li class="mob-item"><a href="#menu" class="mob-link" data-menu-close>Menu</a></li>
                    <li class="mob-item"><a href="#contact" class="mob-link" data-menu-close>Contact</a></li>
                </ul>
            </div>
        </div>

        <!-- TABLET=================== DESKTOP-->

        <div class="tab-wrap">
            <nav class="nav">
                <ul class="nav-list list">
                    <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#About" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="#Service" class="nav-link">Service</a></li>
                    <li class="nav-item"><a href="#Menu" class="nav-link">Menu</a></li>
                    <li class="nav-item"><a href="#Contact" class="nav-link">Contact</a></li>
                </ul>
            </nav>
            <button type="button" class="header-button button--small  " data-modal-open>Order Now</button>

        </div>
    </div>

</header>