<section class="offerings">
  <div class="container">
    <ul class="list offerings-apple-list">
      <li class="apple">
        <picture>
          <source
            srcset="
              ./images/offerings/apple-desk-1x.png 1x,
              ./images/offerings/apple-desk-2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/offerings/apple-tablet-1x.png 1x,
              ./images/offerings/apple-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/offerings/apple-mobile-1x.png 1x,
              ./images/offerings/apple-mobile-2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="apple-image"
            src="./images/offerings/apple-desk-1x.png"
            alt="Green apple"
          />
        </picture>
        <div class="apple-ellipse"></div>
        <div class="apple-shadow"></div>
        <div class="apple-border"></div>
      </li>
      <li class="apple-transparent">
        <img
          srcset="
            ./images/offerings/apple-transparent-01-1x.png 1x,
            ./images/offerings/apple-transparent-01-2x.png 2x
          "
          src="./images/offerings/apple-transparent-01-1x.png"
          alt="Green apple"
          width="166px"
        />
      </li>
      <li class="apple-transparent">
        <img
          srcset="
            ./images/offerings/apple-transparent-02-1x.png 1x,
            ./images/offerings/apple-transparent-02-2x.png 2x
          "
          src="./images/offerings/apple-transparent-02-1x.png"
          alt="Green apple"
          width="108px"
        />
      </li>
    </ul>
    <div class="offerings-container">
      <h2 class="offerings-title">What’s Special About Our Offerings</h2>
      <p class="offerings-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="offerings-list list">
        <li class="offerings-item">
          <h3 class="offerings-item-title title-before-rocket">
            Fastest Delivery
          </h3>
          <p class="offerings-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="offerings-item">
          <h3 class="offerings-item-title title-before-touch">Easy To Order</h3>
          <p class="offerings-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
      <button type="button" class="offerings-button button--large data-modal-open">
        Order Now
      </button>
      <a href="#" class="offerings-link"
        >Read More
        <svg width="10px" height="10px">
          <use href="./images/icons.svg#icon-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
