@import '~node_modules/modern-normalize/modern-normalize.css';
.page {
    margin: 0;
    background-color: $white;
    color: $dark;
    font-family: 'Roboto Regular', sans-serif;
}
.is-hidden {
    visibility: 0;
    opacity: 0;
    pointer-events: none;
}
.no-scroll {
    overflow: hidden;
}