.feedback{

    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0 auto;

    @include mobileSmall{
        // min-width: 320px;
        // max-width: 479px;
        background-image: url("/src/images/customers-feedback/bgd-template-bottom-mobile.png");
        
        // height: 769px; //temporary during develpoment!!!
        // width: 320px; //temporary during develpoment!!!
    }

    @include mobile{
        background-image: url("/src/images/customers-feedback/bgd-template-bottom-480.png");
        
        // height: 769px; //temporary during develpoment!!!
        // width: 480px; //temporary during develpoment!!!
    }

    @include tablet{
       
        background-image: url("/src/images/customers-feedback/bgd-template-bottom-tablet.png");
        
        // height: 544px; //temporary during develpoment!!!
        // width: 768px; //temporary during develpoment!!!

    }
    @include desktop {
        background-image: url("/src/images/customers-feedback/bgd-template-bottom-desk.png");
       
        max-width: 1600px;
        // height: 647px; //temporary during develpoment!!!
        // width: 1280px; //temporary during develpoment!!!
   }
}

.feedback-wrapper{
    @include mobileSmall {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include mobile {
        padding-top: 60px;
        // padding-bottom: 60px;
        padding-bottom: 131px;
    }

    @include tablet {
        padding-top: 60px;
        padding-bottom: 120px;
    }
    @include desktop {
        padding-top: 100px;
        padding-bottom: 200px;
        padding-right: 107px;
}
}

.feedback-title{
    line-height: 1.17;
    @include mobileSmall {
        font-size: 28px;
        }
    @include mobile {
        font-size: 28px;
        }

    @include tablet{
        font-size: 42px;
        }
    @include desktop{
        font-size: 42px;
            }
}

.feedback-text{
    font-weight: 400;
    line-height: 1.17;
    margin-top: 20px;
    margin-bottom: 32px;
    @include mobileSmall{
        font-size: 14px;
        }
    @include mobile{
        font-size: 14px;
        }

    @include tablet{
    font-size: 16px;
    }
    @include desktop{
        font-size: 16px;

        }
}

.feedback-list{
    display: flex;
    @include mobileSmall{
        flex-wrap: wrap;
        gap:24px;
        width: 100%;
    }
    @include mobile{
        flex-wrap: wrap;
        gap:24px;
        width: 100%;
    }

    @include tablet{
        gap: 32px;
    padding-left: 0;
    }

    @include desktop{
    gap: 139px;
    padding-left: 0;
        }
}

.feedback-item{
    
    border-radius: 0px 30px 30px 30px;
    @include mobileSmall{
        padding: 8px;
        background-color: #FFFFFF;
         }
 
     @include mobile{
        padding: 8px;
        background-color: #FFFFFF;
     }

     @include tablet{
        padding: 12px;
        background-color: #FFFFFF;
     }
 
     @include desktop{
        padding: 14px;
        background-color: $white;
     }
   
}


.feedback-item-stars{
    display: flex;
    gap: 4px;
    margin-bottom: 28px;
    padding-left: 0;
}

.feedback-stars{
    display: inline-block;
    width:17px;
    height: 16px;
}

.feedback-item-content{
    line-height: 1.17;
    font-weight: 700;
    @include mobileSmall{
       font-size: 16px;
    }

    @include mobile{
        font-size: 18px;
    }

    @include tablet{
        font-size: 18px;
    }

    @include desktop{
        font-size: 18px;
    }

}

.feedback-customer{
   display: flex;
   gap: 16px;
   width: 160px;
   border-right: 1px solid $green;
   margin-top: 40px;
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-customer:hover, 
.feedback-customer:focus{
    transform: scale(1.15);
    cursor: pointer;
}

.feedback-customer-data{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items:flex-start;
    font-size: 14px;
    line-height: 1.5;
}

.feedback-customer-name{
    font-weight: 500;
}