.feedback{

    @media screen and (max-width:479px){
        min-width: 320px;
        max-width: 479px;
        background-image: url("/src/images/customers-feedback/bgd-template-bottom-mobile.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        // padding-top: 60px;
        // padding-bottom: 60px;
        margin: 0 auto;

        height: 769px; //temporary during develpoment!!!
        width: 320px; //temporary during develpoment!!!
    }
    @media screen and (min-width:480px) and (max-width:767px){
        background-image: url("/src/images/customers-feedback/bgd-template-bottom-480.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        // padding-top: 60px;
        // padding-bottom: 60px;
        margin: 0 auto;

        height: 769px; //temporary during develpoment!!!
        width: 480px; //temporary during develpoment!!!
    }

    @media screen and (min-width:768px) and (max-width:1279px){
       
        background-image: url("/src/images/customers-feedback/bgd-template-bottom-tablet.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        // padding-top: 60px;
        // padding-bottom: 120px;
        margin: 0 auto;

        height: 544px; //temporary during develpoment!!!
        width: 768px; //temporary during develpoment!!!


    }
    @media screen and (min-width:1280px) {
        max-width: 1600px;
        background-image: url("/src/images/customers-feedback/bgd-template-bottom-desk.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        // padding-top: 100px;
        // padding-bottom: 200px;
        // padding-right: 107px;
        // padding: 100px 123px 200px 16px;
        margin: 0 auto;

        height: 647px; //temporary during develpoment!!!
        width: 1280px; //temporary during develpoment!!!

    }
}

.feedback-wrapper{
    @media screen and (max-width:479px){
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width:480px) and (max-width:767px){
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width:768px) and (max-width:1279px){
        padding-top: 60px;
        padding-bottom: 120px;
    }
    @media screen and (min-width:1280px) {
        // margin: 100px 123px 200px 16px;
        padding-top: 100px;
        padding-bottom: 200px;
        padding-right: 107px;
}
}

.feedback-title{
    line-height: 1.17;
    @media screen and (max-width:767px) {
        font-size: 28px;
        }

    @media screen and (min-width:768px) {
        font-size: 42px;
        }
}

.feedback-text{
    font-weight: 400;
    line-height: 1.17;
    margin-top: 20px;
    margin-bottom: 32px;
    @media screen and (max-width:767px) {
        font-size: 14px;
        }

    @media screen and (min-width:768px) {
    font-size: 16px;
    }
}

.feedback-list{
    display: flex;

    @media screen and (max-width:767px){
        flex-wrap: wrap;
        gap:24px;
        width: 100%;
    }

    @media screen and (min-width:768px) and (max-width:1279px){
        gap: 32px;
    padding-left: 0;
    }

    @media screen and (min-width:1280px){
        
    gap: 139px;
    padding-left: 0;
    // height: 227px;
        }
}

.feedback-item{
    
    border-radius: 0px 30px 30px 30px;
    @media screen and (max-width:479px){
        padding: 8px;
        background-color: #FFFFFF;
         }
 
     @media screen and (min-width:480px) and (max-width:1279px){
        padding: 14px;
        background-color: #FFFFFF;
     }
 
     @media screen and (min-width:1280px){
        padding: 14px;
        background-color: $white;
     }
   
}


.feedback-item-stars{
    display: flex;
    gap: 4px;
    margin-bottom: 28px;
    padding-left: 0;
}

.feedback-stars{
    display: inline-block;
    width:17px;
    height: 16px;
}

.feedback-item-content{
    line-height: 1.17;
    font-weight: 700;
    @media screen and (max-width:479px){
       font-size: 16px;
    }

    @media screen and (min-width:480px){
        font-size: 18px;
    }

}

.feedback-customer{
   display: flex;
   gap: 16px;
   width: 160px;
   border-right: 1px solid $green;
   margin-top: 40px;
}

.feedback-customer-data{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items:flex-start;
    font-size: 14px;
    line-height: 1.5;

}

.feedback-customer-name{
    font-weight: 500;
}