.feedback{

    background-repeat: no-repeat;
        background-position: center;
        // background-size: cover;
        background-size: 100% 100%;
        margin: 0 auto;

    @include mobileSmall{
        // min-width: 320px;
        // max-width: 479px;
        background-image: url("/src/images/customers-feedback/bgd-template-bottom-mobile.png");
        
        // height: 769px; //temporary during develpoment!!!
        // width: 320px; //temporary during develpoment!!!
    }

    @include mobile{
        background-image: url("/src/images/customers-feedback/bgd-template-bottom-480.png");
        
        // height: 769px; //temporary during develpoment!!!
        // width: 480px; //temporary during develpoment!!!
    }

    @include tablet{
       
        background-image: url("/src/images/customers-feedback/bgd-template-bottom-tablet.png");
        width:100vw;

        // height: 544px; //temporary during develpoment!!!
        // width: 768px; //temporary during develpoment!!!

    }
    @include desktop {
        background-image: url("/src/images/customers-feedback/bgd-template-bottom-desk.png");
       
        max-width: 1900px;

        // height: 647px; //temporary during develpoment!!!
        // width: 1280px; //temporary during develpoment!!!
   }
}

.feedback-wrapper{
    @include mobileSmall {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @include mobile {
        padding-top: 60px;
        // padding-bottom: 60px;
        padding-bottom: 131px;
    }

    @include tablet {
        padding-top: 60px;
        padding-bottom: 40px;
        // padding-bottom: 120px;
    }
    @include desktop {
        padding-top: 100px;
        padding-bottom: 100px;
        // padding-bottom: 200px;
        // padding-right: 107px;
}
}

.feedback-title{
    line-height: 1.17;
    @include mobileSmall {
        font-size: 28px;
        }
    @include mobile {
        font-size: 28px;
        }

    @include tablet{
        font-size: 42px;
        }
    @include desktop{
        font-size: 42px;
            }
}

.feedback-text{
    font-weight: 400;
    line-height: 1.17;
    margin-top: 20px;
    margin-bottom: 32px;
    @include mobileSmall{
        font-size: 14px;
        }
    @include mobile{
        font-size: 14px;
        }

    @include tablet{
    font-size: 16px;
    }
    @include desktop{
        font-size: 16px;

        }
}

.feedback-list{
    display: flex;
    @include mobileSmall{
        flex-wrap: wrap;
        gap:24px;
        width: 100%;
    }
    @include mobile{
        flex-wrap: wrap;
        gap:24px;
        width: 100%;
    }

    @include tablet{
        gap: 32px;
    padding-left: 0;
    height: 324px;
    }

    @include desktop{
    gap: 139px;
    padding-left: 0;
    height: 327px;
        }
}

.feedback-item{
    height: fit-content;

    border-radius: 0px 30px 30px 30px;
    @include mobileSmall{
        padding: 8px;
        background-color: #FFFFFF;
         }
 
     @include mobile{
        padding: 8px;
        background-color: #FFFFFF;
     }

     @include tablet{
        padding: 12px;
        background-color: #FFFFFF;
     }
 
     @include desktop{
        padding: 14px;
        background-color: $white;
     }
   
}

.feedback-item-wrapper{
    @include mobileSmall{

    }
    @include mobile{}
    @include tablet{
        width: 312px;
    }
    @include desktop{
        width:473px;
    }
}

.feedback-item-stars{
    display: flex;
    gap: 4px;
    margin-bottom: 28px;
    padding-left: 0;
}

.feedback-stars{
    display: inline-block;
    width:17px;
    height: 16px;
}

.feedback-item-content{
    line-height: 1.17;
    font-weight: 700;
    overflow-y: hidden;
       transition: max-height 0.25s linear;
    @include mobileSmall{
       font-size: 16px;
       max-height: 76px;
       
    }

    @include mobile{
        font-size: 18px;
        min-width: 84px;
        max-height: 85px;
    }

    @include tablet{
        font-size: 18px;
        min-height: 83px;
        max-height: 84px;
    }

    @include desktop{
        font-size: 18px;
        min-height: 62px;
        max-height: 63px;
    }

}

.feedback-item-content:hover, 
.feedback-item-content:focus {
    // overflow-y: visible;
    // background-color: $white;
    // cursor:context-menu;
   overflow-y: auto;
   @include mobileSmall{
    max-height: 150px;
}
    @include mobile{
        max-height: 144px;
    }

   @include tablet{
    max-height: 144px;
   }
   @include desktop{
    max-height: 125px;

   }
}

.feedback-customer{
   display: flex;
   gap: 16px;
   width: 160px;
   height: 52px;
   overflow: hidden;
   border-right: 1px solid $green;
   margin-top: 40px;
   padding-right: 8px;
   transition: transform $trans;
}

.feedback-customer:hover, 
.feedback-customer:focus{
    // transform: scale(1.15);
    cursor: pointer;
    width:fit-content;
    min-width:160px;
    max-width: 260px;
    overflow-x: auto;
}

.feedback-customer-data{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items:flex-start;
    font-size: 14px;
    line-height: 1.5;
    height: 52px;
    // overflow: hidden;
    white-space: nowrap;
}

.feedback-customer-name{
    font-weight: 500;
    white-space: nowrap;
    // overflow: hidden;

}

.feedback-customer-text{
    white-space: nowrap;
    // overflow: hidden;

}