.favorites-subtitle{
    font-size: 42px;
    line-height: 1.17;
}
.favorites-text {
    line-height: 1.19;
}
.favorites-item {
    width: 394px;
    height: 397px;
}
.favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.favorites-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 10px solid green;
    border-radius: 50%;
}
