.footer-container {
  padding: 100px 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-address {
  display: flex;
}

.address-list {
  display: flex;
  gap: 28px;
  margin-left: 148px;
}

.address-link {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2c2c2c;
}

.mailing-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #2c2c2c;
}

.email {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-input {
  width: 100%;
  max-width: 279px;
  height: 42px;
  padding: 12px 12px;
  margin: 12px 0;
  outline: none;
  background: #fefefe;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
}

.email-input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #505050;
}

.email-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #2c2c2c;
}

.email-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #2c2c2c;
}

.email-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #7eb101;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.privacy-list {
  display: flex;
  gap: 20px;
}

.privacy-link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #7eb101;
}

.privacy-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #2c2c2c;
}
