.footer {
  font-family: 'Roboto', sans-serif;
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
  @include mobileSmall {
    background-image: url('../images/footer/bgd-transp-mobile-bottom.png'),
      url('../images/footer/bgd-transp-mobile-left.png'),
      url('../images/footer/bgd-transp-mobile-right.png');
    background-repeat: no-repeat;
    background-position: bottom, left top 132px, top right;
    background-size: 254px 66px, 110px 116px, 104px 259px;
    @include retina {
      background-image: url('../images/footer/bgd-transp-mobile-bottom-2x.png'),
        url('../images/footer/bgd-transp-mobile-left-2x.png'),
        url('../images/footer/bgd-transp-mobile-right-2x.png');
    }
  }
  @include mobile {
    // max-width: 480px;
    margin: 0 auto;
    background-image: url('../images/footer/bgd-transp-mobile-bottom.png'),
      url('../images/footer/bgd-transp-mobile-left.png'),
      url('../images/footer/bgd-transp-mobile-right.png');
    background-repeat: no-repeat;
    background-position: bottom, left top 132px, top right;
    background-size: 254px 66px, 110px 116px, 104px 259px;
    @include retina {
      background-image: url('../images/footer/bgd-transp-mobile-bottom-2x.png'),
        url('../images/footer/bgd-transp-mobile-left-2x.png'),
        url('../images/footer/bgd-transp-mobile-right-2x.png');
    }
  }
  @include tablet {
    width: auto;
    margin: 0 auto;
    background-image: url('../images/footer/bgd-transp-tablet-bottom.png'),
      url('../images/footer/bgd-transp-tablet-right.png');
    background-repeat: no-repeat;
    background-position: bottom, top right;
    background-size: 802px 506px, 203px 365px;
    @include retina {
      background-image: url('../images/footer/bgd-transp-tablet-bottom-2x.png'),
        url('../images/footer/bgd-transp-tablet-right-2x.png');
    }
  }

  // @include tablet {
  //   width: auto;
  //   background-image: url('../images/footer/bgd-transparent-tablet.png');
  //   background-position: bottom;
  //   background-size: 768px 506px;
  //   background-repeat: no-repeat;
  //   @include retina {
  //     background-image: url('../images/footer/bgd-transparent-tablet-2x.png');
  //   }
  // }
  @include desktop {
    background-image: url('../images/footer/bgd-transparent-desk.png');
    background-position: bottom;
    background-size: 1211px 266px;
    background-repeat: no-repeat;
    @include retina {
      background-image: url('../images/footer/bgd-transparent-desk-2x.png');
    }
  }
}

.footer-container {
  padding: 60px 0;
  @include mobile {
    padding: 60px 0;
  }
  @include tablet {
    padding: 100px 0;
  }
  @include desktop {
    padding: 100px 0;
  }
}

// -----Footer top-----

.footer-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  @include mobile {
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
  }
  @include tablet {
    flex-direction: row;
    max-width: none;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @include desktop {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

// Logo and Navigation

.footer-address {
  width: 100%;
  display: flex;
  justify-content: space-between;
  @include mobile {
    max-width: 440px;
    display: flex;
    justify-content: space-between;
  }
  @include tablet {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  @include desktop {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 81px;
  margin-right: 101px;
  @include mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 101px;
  }
  @include tablet {
    flex-direction: row;
    margin-right: 0;
    margin-left: 114px;
    gap: 28px;
  }
  @include desktop {
    flex-direction: row;
    margin-left: 148px;
    gap: 28px;
  }
}

.address-link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: $dark;
  transition: color $trans, text-decoration-line $trans;
  &:hover,
  &:focus {
    text-decoration-line: underline;
    color: $fresh-green;
  }
}

// Subscribe form

.mailing {
  width: 279px;
  margin-top: 40px;
  @include mobile {
    margin-top: 40px;
  }
  @include tablet {
    width: auto;
  }
  @include desktop {
    width: auto;
    margin-top: 0;
  }
}

.mailing-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: $dark;
}

.email {
  width: 100%;
  display: flex;
  flex-direction: column;
  @include mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  @include tablet {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }
}

.email-error {
  position: absolute;
  bottom: -14px;
  display: none;
  margin-top: 4px;
  align-items: center;
}

.error-text {
  margin-left: 4px;
  font-size: 10px;
  line-height: 150%;
  color: #ff705d;
}

.input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  @include mobile {
    margin-top: 12px;
  }
  @include tablet {
    margin: 12px 0;
  }
  @include desktop {
    margin: 12px 0;
  }
}

.email-input {
  width: 279px;
  height: 42px;
  padding: 12px 12px;

  outline: none;
  background: $white;
  border: 0.854167px solid $yellow;
  border-radius: 30px;
  @include mobile {
    width: 279px;
    height: 42px;
    padding: 12px 12px;

    outline: none;
    background: $white;
    border: 0.854167px solid $yellow;
    border-radius: 30px;
  }
  // @include tablet {
  //   margin: 12px 0;
  // }
  // @include desktop {
  //   margin: 12px 0;
  // }

  &:not(:placeholder-shown):not(:focus):valid {
    border-color: $green;
  }

  &:not(:placeholder-shown):not(:focus):invalid {
    border-color: #ff705d;
  }

  &:not(:placeholder-shown):not(:focus):invalid + .email-error {
    display: flex;
  }
}

.email-input::placeholder {
  font-size: 12px;
  line-height: 150%;
  color: #505050;
}

.email-submit {
  margin: 20px 0;
  margin-left: auto;
  min-width: 103px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: $dark;
  border: 1px solid $green;
  transition: border-color $trans;
  @include mobile {
    margin: 20px 0;
    margin-left: auto;
    min-width: 103px;
    font-weight: 500;
    font-size: 13px;
    line-height: 150%;
    color: $dark;
    border: 1px solid $green;
  }
  @include tablet {
    margin: 0 0 0 13px;
  }
  @include desktop {
    margin: 0 0 0 13px;
  }
}

.email-text {
  font-size: 10px;
  line-height: 12px;
  color: $dark;
  @include mobile {
    font-size: 10px;
    line-height: 12px;
    color: $dark;
  }
  @include tablet {
    font-size: 12px;
    line-height: 14px;
  }
  @include desktop {
    font-size: 12px;
    line-height: 14px;
  }
}

.email-link {
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: $green;
  @include mobile {
    font-style: normal;
    font-size: 10px;
    line-height: 12px;
    text-decoration-line: underline;
    color: $green;
  }
  @include tablet {
    font-size: 12px;
    line-height: 14px;
  }
  @include desktop {
    font-size: 12px;
    line-height: 14px;
  }
}

// -----Fotter bottom-----

.footer-bottom {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  @include mobile {
    align-items: center;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
  }
  @include tablet {
    align-items: flex-start;
    max-width: none;
    margin-top: 100px;
    justify-content: space-between;
    flex-direction: row;
  }
  @include desktop {
    margin-top: 80px;
    justify-content: space-between;
    flex-direction: row;
  }
}

.privacy-list {
  display: flex;
  justify-content: space-evenly;
  max-width: 440px;
  @include mobile {
    width: 440px;
    display: flex;
    justify-content: space-evenly;
  }
  @include tablet {
    width: auto;
    gap: 20px;
    justify-content: flex-start;
  }
  @include desktop {
    gap: 20px;
    justify-content: flex-start;
  }
}

.privacy-link {
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: $green;
  @include mobile {
    font-style: normal;
    font-size: 10px;
    line-height: 12px;
    text-decoration-line: underline;
    color: $green;
  }
  @include tablet {
    font-size: 12px;
    line-height: 14px;
  }
  @include desktop {
    font-size: 12px;
    line-height: 14px;
  }
}

.privacy-text {
  margin: 40px auto 0 auto;
  font-size: 10px;
  line-height: 12px;
  color: $dark;
  @include mobile {
    margin: 40px auto 0 auto;
    font-size: 10px;
    line-height: 12px;
    color: $dark;
  }
  @include tablet {
    font-size: 12px;
    line-height: 14px;
    margin: 0;
  }
  @include desktop {
    font-size: 12px;
    line-height: 14px;
    margin: 0;
  }
}
