.header {
  background-color: $white;
  padding: 10px 0;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  @media screen and (max-width: 767px) {
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 19;
  }
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 480px) {
    width: 480px;
    position: relative;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.mob-wrap {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-open {
  width: 23.33px;
  height: 16.41px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  transition: transform, $trans;
  &:hover {
    transform: rotate(180deg);
  }
}

.mob-menu {
  background-color: $white;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  border-radius: 30px 0px 30px 30px;
  width: 130px;
  position: absolute;
  right: 20px;
  overflow: auto;
  z-index: 10;
  transition: transform, $trans;
  transform: translateX(0);
}

.mob-menu.is-hidden {
  transform: translateX(150%);
}

.mob-close {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  border: none;
  top: 4px;
  right: 4px;
}

.icon-close {
  fill: $dark;
}

.mob-link {
  text-decoration: none;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: $black;
  width: 100%;
  height: 100%;
  padding: 16px 0 16px 16px;
  display: block;
  transition: background, $trans;
  &:hover,
  &:focus {
    background: $fresh-green;
  }
}

//  <!-- TABLET=================== DESKTOP-->

.tab-wrap {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  @media screen and (min-width: 1280px) {
  }
}

.nav-list {
  display: flex;
  gap: 28px;
}

.nav-link {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-decoration: none;
  color: $black;
  transition: color, text-decoration-line, $trans;
  &:hover,
  &:focus {
    text-decoration-line: underline;
    color: $fresh-green;
  }
}

.header-button {
  font-family: inherit;
  border: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: $dark;
  transition: background $trans;
}
