.header {
  padding: 10px 0;
}

// .header-box {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

.header-open {
  width: 23.33px;
  height: 16.41px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-button {
  font-family: inherit;
  border: 1px solid transparent;
}
