.hero-wrap{
    position: relative;
    margin-top: 60px;
    margin-bottom: 50px;
    padding-bottom: 60px;
    @include tablet{
        margin-top: 60px;
        margin-bottom: 0;
        padding-bottom: 37px;
        
    }
    @include desktop{
        margin-top: 16px;

        padding-bottom: 75px;
    }
}
.hero__meta {
    @media screen and(max-width:767px) {
        max-width: 420px;
    }

    @include tablet {
        max-width: 770px;
    }

    @include desktop {
        padding-top: 159px;
        padding-bottom: 75px;
        max-width: 1300px;
    }
}

.hero__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.178;
    color: $dark;

    @include tablet {
        width: 537px;
        font-size: 42px;
        line-height: 1.2;
    }

    @include desktop {
        width: 502px;
        font-size: 48px;
        line-height: 1.2;
    }
}

.hero__text {
    margin-top: 28px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: $dark;

    @include tablet {
        margin-top: 44px;

        width: 336px;
        font-size: 16px;
        line-height: 1.5;
    }

    @include desktop {
        margin-top: 28px;
        width: 502px;
        font-size: 16px;
        line-height: 1.5;
    }
}

.hero-img__block {
    @media screen and(max-width:767px) {
        display: none;
    }
    
}

.hero-img__img {
    position: absolute;
    top: 103px;
    right: 22px;
    
    & img{
        width: 292px;
        height: 292px;
    }
        @include desktop {
        top: 26px;
        right: 40px;  
        & img{
            width: 528px;
            height: 528px;   }    
    }
}

.hero-img__ell {
    position: absolute;
    top: 89px;
    right: 8px;
    & img{
         width: 320px;
         height: 320px;}
   @include desktop {
        top: 0;
        right: 14px;  
     & img{
         width: 580px;
         height: 580px;   }           
    }
}
.hero-img__btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    
    margin: 0;
    padding: 0;
    width: 34px;
    height: 28px;
    background: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    &:hover{
        fill:$green;
    }
    &:active{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }
    @media screen and(min-width:1200px){
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        width: 48px;
        height: 40px;
        &:hover{
            fill:$green;
        }
        &:active{
            fill: black;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
        }
    }
}
.hero-img__btn--right{
 right: 0px;
 top:235px;
 @include desktop{
    top:264px
 }
}
.hero-img__btn--left{
    right: 308px;
    top:235px;
    @include desktop{
        top:264px;
        right: 560px;
     }
   }
.hero-img__svg{
    width: 11.49px;
    height: 20.34px;
    @media screen and(min-width:1200px){
        width: 16.42px;
        height: 29.05px;
    }
}
.oder_btn{
    position: absolute;
    bottom: 0;
    left: 0;
    border: none;
    padding: 6px 18px;

    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    background: $fresh-green;
    border-radius: 30px;
    @media screen and (min-width:768px) {
        bottom: -32px;
    }
    @include desktop{
        bottom: 0;
    }
   &:hover{
    background-color: #FFE450;;
}
}