.backdrop {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(94, 99, 99, 0.7);
    opacity: 1;
    // transition: opacity var(--trans);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-btn__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 16px;
    right: 16px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);

    &:hover,
    &:focus {
        fill: $green;
        cursor: pointer;
    }
}

.modal {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    width: 100%;
    width: 320px;
    height: 449px;

    padding: 32px 20px;
    background: $yellow;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 30px;

    @include tablet {
        width: 458px;
        height: 449px;
    }
    @include desktop{
        width: 458px;
        height: 449px;
    }
    transform: translate(-50%, -50%) scale(1);
    // transition: transform $trans;

    .backdrop.is-hidden & {
        scale: 0;
    }
}

.modal__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: $dark;
    text-align: center;
}

.modal-form__label {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 32px;
    }

}

.modal-form__input {
    position: relative;
    width: 280px;
    height: 48px;

    background: $white;

    border: 1px solid $green;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 30px;

    padding: 14px 12px;
    outline: none;

    @media screen and(min-width:480px) {
        width: 394px;
        height: 48px;

        border: 1px solid rgba(18, 18, 18, 0.12);
        box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
        border-radius: 30px;
    }

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: #C4C4C4;
        background: $white;

    }

    &:not(:placeholder-shown):invalid {
        border: 1px solid #FF705D;
    }

    &:not(:placeholder-shown):valid {
        border: 1px solid $green;
    }
}


.modal-form__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: $dark;

    margin-bottom: 2px;
    margin-left: 12px;

    text-align: left;
}

.modal-form__button {
    display: flex;
    align-items: center;
    text-align: center;

    background: #FFFFFF;

    border: 2px solid $green;
    border-radius: 30px;

    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;

    color: $main-text;

    padding: 10px 38px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    // transition: background-color $trans;

    &:hover,
    &:focus {
        cursor: pointer;
        // background-color: $mainback2-color;
    }

    &:invalid {
        background: $white;
        border: 2px solid #FF705D;
        border-radius: 30px;
    }
}
.modal-form:valid .modal-form__button {
    background: $fresh-green;
    border: 2px solid $green;
}

.modal-form:invalid .modal-form__button:active,
.modal-form:invalid .modal-form__button:hover {
    background: $white;
    border: 2px solid #FF705D;
}


