.offerings {
  background-image: url(/src/images/offerings/bgd-template-top-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 41px;
  padding-bottom: 60px;

  @include tablet {
    background-image: url(/src/images/offerings/bgd-template-top-tablet.png);
    padding-top: 150px;
    padding-bottom: 100px;
  }

  @include desktop {
    background-image: url(/src/images/offerings/bgd-template-top-desk.png);
    padding-top: 177px;
    padding-bottom: 43px;
  }

  .container {
    @include desktop {
      display: flex;
      align-items: center;
      gap: 90px;
    }
  }

  &-apple-list {
    display: flex;
    justify-content: center;

    @include tablet {
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &-title {
    font-size: 28px;
    line-height: 1.17;
    color: $dark;
    margin-top: 60px;
    margin-bottom: 28px;
  }
  &-text {
    font-size: 14px;
    line-height: 1.14;
    color: $dark;
    margin-bottom: 28px;
  }
  &-title {
    @include tablet {
    font-size: 42px;
    width: 526px;
    }
  }
  &-text {
    @include tablet {
    font-size: 16px;
    width: 500px;
    margin-bottom: 40px;
    }
  }
   &-list {
    @include tablet {
    display: flex;
    gap: 116px;
    }
  }
  &-link {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: $black;
    text-decoration: none;
    
    margin-left: 24px;
}

.title-before-rocket::before,
.title-before-touch::before {
  content: '';
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: block;
  background-size: 32px 32px;
  background-position: 50% 50%;
  background-color: rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  margin-bottom: 8px;
}
.title-before-rocket::before {
  background-image: url(../images/offerings/icon-rocket.svg);
}
.title-before-touch::before {
  background-image: url(../images/offerings/icon-touch.svg);
}
.offerings-item-title {
  margin-bottom: 16px;
}
.offerings-item-text {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 28px;
  @include tablet {
    width: 252px;
    margin-bottom: 40px;
  }
}

.apple {
  position: relative;
  width: 280px;
  height: 309px;

  @include tablet {
    width: 357px;
    height: 394px;
  }

  @include desktop {
    width: 550px;
    height: 604px;
  }

  &-image {
    position: absolute;
    z-index: 2;
    left: 42px;

    @include tablet {
      left: 54px;
    }

    @include desktop {
      left: 84px;
    }
  }

  &-ellipse {
    position: absolute;
    left: 12px;
    bottom: 12px;
    width: 256px;
    height: 256px;

    background-color: $white;
    border-radius: 50%;

    @include tablet {
      left: 16px;
      bottom: 16px;
      width: 326px;
      height: 326px;
    }

    @include desktop {
      left: 24px;
      bottom: 24px;
      width: 502px;
      height: 502px;
    }
  }

  &-shadow {
    position: absolute;
    left: 79px;
    bottom: 38px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #2f583f 0%,
      rgba(105, 105, 105, 0) 100%
    );
    filter: blur(6.61818px);
    width: 128px;
    height: 44px;
    z-index: 1;
    @include tablet {
      left: 100px;
      bottom: 48px;
      width: 164px;
      height: 56px;
    }
    @include desktop {
      left: 155px;
      bottom: 75px;
      width: 252px;
      height: 87px;

    }
  }

  &-border {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 280px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;

    @include tablet {
      height: 357px;
    }

    @include desktop {
      height: 550px;
      border-width: 5px;
    }
  }

}

// transparent apples for tablet only
.apple-transparent {
  display: none;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: block;
    margin-bottom: 68px;

  }
}
}